<div
    class="navbar bg-base-100 w-full bg-primary text-white py-5 rounded-bl-2xl rounded-br-2xl"
>
    <div class="m-auto">
        <a class="text-3xl font-bold text-primary-content" href="/blog/">InfoVerse </a>
    </div>
</div>
