<%- include('./components/header') %> <%- include('./components/createBlog') %>
<div class="container mx-auto p-8">
    <h1 class="text-5xl font-bold mb-8 text-left"><% blogs.length > 0 && "Blog List" %></h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <% for(let blog of blogs) { %> <%-
        include('./components/blogItem',{blog:blog}) %> <%}%>
    </div>
</div>

<%- include( './components/footer') %>
